{
    background-color: red;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background-color: black;
}
.logo{
    background-color: rgb(220, 31, 148);
    color: aliceblue;
    font-size: 50px;
}
nav{
    background-color: rgb(220, 31, 148);
}
li{
    display: inline-block;
    margin: 5px;
    line-height: 80px;
    position: right;
    float: right;
}
a{
    color: aliceblue;
    font-size: 15px;
    text-transform: uppercase;
}
